



</head>
<div id="login"  style="background-image: url('../../../images/bg.jpg');padding-bottom: 40px">
  <div class="login-logo">
    <a href="index.html"><img src="" alt=""/></a>
  </div>
  <h1 class="form-heading" align="center" style="font-weight: bold;color: #3949ab">系统登录</h1>
  <div class="app-cam">
	  <form name="loginForm" ng-submit="loginUser()">
		<input type="text" class="text" value="员工号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '员工号';}" ng-model="number" name="number" ng-click="error.userError=null;error.passwordError=null" /><div ng-show="error" style="color: red; ">{{error.userError}}</div>
		<input type="password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}" ng-model="password" name="password" ng-click="error.userError=null;error.passwordError=null" /> <div ng-show="error" style="color: red; ">{{error.passwordError}}</div>
		<div class="submit"><input type="submit"  value="登录"></div>
	</form>
  </div>
    <br><br>
   <div class="copy_layout login">
       <p>Copyright &copy; 2015.TianPu Hotel All rights reserved.</p>
   </div>
    <br><br>
</div>
