<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">天浦大酒店管理</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-nav navbar-right" ng-click="setFlag=!setFlag">
            <li class="dropdown">
                <a class="dropdown-toggle avatar" data-toggle="dropdown"><img src="images/1.png"></a>
                <ul class="dropdown-menu" ng-show="setFlag">
                    <li class="m_2"><i class="fa fa-bell-o"></i> 欢迎您：<span style="color: mediumvioletred;margin-left: 10px">{{name}}</span></li>
                    <li class="m_2" ng-click="loginOut()"><i class="fa fa-lock"></i> 退出登录</li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" value="请输入关键字." onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = '请输入关键字.';}">
        </form>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse" style=" height: 755px">
                <ul class="nav" id="side-menu">
                    <li>
                        <a  ng-click="goToHtml('dashbord')"><i class="fa fa-dashboard fa-fw nav_icon"></i>主页</a>
                    </li>
                    <li>
                        <a ng-click="changeFlag1()"><i class="fa fa-indent nav_icon"></i>房间管理<span class="fa arrow"  ng-show="!flag1"></span></a>
                        <ul class="nav nav-second-level" ng-show="flag1">
                            <li>
                                <a ng-click="goToHtml('rooms')">所有房间</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ng-click="changeFlag2()"><i class="fa fa-envelope nav_icon"></i>所有订单<span class="fa arrow" ng-show="!flag2"></span></a>
                        <ul class="nav nav-second-level" ng-show="flag2">
                            <li>
                                <a ng-click="goToHtml('orders')">订单查看</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-show="auth == 1">
                        <a ng-click="goToHtml('report')"><i class="fa fa-flask nav_icon"></i>营业查询</a>
                    </li>
                    <li ng-show="auth == 1">
                        <a ng-click="changeFlag3()"><i class="fa fa-check-square-o nav_icon"></i>员工管理<span class="fa arrow" ng-show="!flag3"></span></a>
                        <ul class="nav nav-second-level" ng-show="flag3">
                            <li>
                                <a ng-click="goToHtml('users')">查看员工</a>
                            </li>
                            <li>
                                <a ng-click="goToHtml('add_user')">新增员工</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>


                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a ><i class=""></i><span class=" "></span></a>

                        <!-- /.nav-second-level -->
                    </li>


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>新增员工</h3>
                <div class="well1 white">
                    <form
                        class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern"
                        novalidate="novalidate" ng-submit="submit()">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">员工姓名</label>
                                <input type="text" class="form-control1 ng-invalid ng-invalid-required ng-touched"
                                       ng-model="newName" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label">员工号</label>
                                <input type="text"
                                       class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched"
                                       ng-model="number" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label">密码</label>
                                <input type="password" class="form-control1 ng-invalid ng-invalid-required ng-touched"
                                       ng-model="password" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label normal">入职时间</label>
                                <input type="date" class="form-control1 ng-invalid ng-invalid-required"
                                       ng-model="dateIn" required="">
                            </div>
                            <div class="form-group">
                                <div class="checkbox1">
                                    <label>
                                        <input type="radio" name="sex" value="男" ng-model="sex"/>
                                        男
                                    </label>
                                    <label>
                                        <input type="radio" name="sex" value="女" ng-model="sex"/>
                                        女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group filled">
                                <label class="control-label">职位</label>
                                <select class="form-control1 ng-invalid ng-invalid-required" ng-model="newAuth"
                                        required="">
                                    <option value="经理">经理</option>
                                    <option value="服务员">服务员</option>
                                    <option value="前台接待">前台接待</option>
                                    <option value="保洁">保洁员</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="addUser()">确认</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="copy_layout">
                <p>Copyright &copy; 2015.TianPu Hotel All rights reserved.</p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
